<h1> User detail information</h1>
<h2>User: {{alias}}</h2>
<h3>username: </h3>
<p>
	{{username}}
</p>
<h3>First Name:</h3>
<p>
	{{firstName}}
</p>
<h3>Last Name:</h3>
<p>
    {{lastName}}
</p>
<h3>Profession:</h3>
<p>
    {{profession}}
</p>
<h3>Bio:</h3>
<p>
    {{bio}}
</p>