<div id="singleNote">
	<h2 id="noteTitle">Title: {{note.title}}</h2>
	<ul>
		<li id="noteSummary">Summary: {{{note.summary}}}</li>
		<li id="dueDate">Due Date: {{note.due_date}}</li>
		<li id="noteBody">Body: {{{note.body}}}</li>
		<li id="noteId">Note ID: {{note.id}}</li>
	</ul>
	<div>
		<a href="../" class="btn btn-default" role="button">Note List</a>
		<button type="button" class="btn btn-default" id="nextBtn">
		<span class="glyphicon" aria-hidden="true"></span> Next Note
		</button>
	</div>
</div>

